.formWrapper {
    margin: 0.5rem auto 0.5rem auto;
    @include largeScreen(){
        text-align: start;
        margin: 0.5rem 0 0 35%;
    }
}

.formWrapper > input {
    border: 0;
    padding: 0.4rem;
    border-radius: 7px;
    width: 75vw;
    @include largeScreen(){
        width: 15vw;
    }
}

