.formWrapper {
    margin: 0.5rem auto 0.5rem 0;
    @include largeScreen(){
        text-align: start;
        margin: 0.5rem auto 0.5rem 27.5%;
    }
}

.formWrapper > input {
    border: 0;
    padding: 0.4rem;
    border-radius: 7px;
    width: 75vw;
    @include largeScreen(){
        width: 15vw;
        margin: 0.5rem 0 0 auto;
    }
}
.formWrapper > textarea {
    border: 0;
    padding: 0.4rem;
    border-radius: 7px;
    width: 75vw;
    @include largeScreen(){
        width: 30vw;
        margin: 0.5rem 0 0 auto;
    }
}

.formWrapper > select {
    border: 0;
    padding: 0.4rem;
    border-radius: 7px;
    width: 75vw;
    @include largeScreen(){
        width: 15vw;
        margin: 0.5rem 0 0 auto;
    }
}

.userForm {
    @include largeScreen(){
        margin: 0.5rem 0 0 38.5%;
    }
}



