#mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
}

#mainContent {
    grid-column: 1/5;
    grid-row: 2;
}

#navBg {
    grid-column: 1/5;
    grid-row: 1;
    background: $color3;
}