#userIcon {
    margin: auto 0 auto 0;
    font-size: 3rem;
    color: $color4;
    grid-column: 4;
    grid-row: 1;

    @include largeScreen(){
        display: none;
    }
}

#menuIcon {
    margin: auto 0 auto 0;
    font-size: 3rem;
    color: $color4;
    grid-column: 1;
    grid-row: 1;
    @include largeScreen(){
        display: none;
    }
}

#searchBar {
    grid-column: 2/4;
    grid-row: 1;
    margin: auto auto auto auto;
    font-size: 1rem;
    width: 100%;

    @include largeScreen(){
        width: 80%;
        // margin: auto auto auto auto;
        grid-row: 2;
        grid-column: 3;
        text-align: start;
    }
}

#searchBar > input {
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 0;
}

#searchField {
    width: 75%;
}

#searchBtn{
    width: 20%;
}

#userBar {
    grid-column: 1/5;
    grid-row: 2;
    background: $color3;
    z-index: 3;
}

#mainNav {
    grid-column: 1/5;
    grid-row: 2;
    background: $color3;
    z-index: 3;
}

#userBarLg {
    display: none;

    @include largeScreen(){
        margin: auto 8% auto 0;
        display: inline;
        grid-column: 3;
        grid-row: 1;
    }
    
}

#mainNavLG {
    display: none;

    @include largeScreen(){
        margin: auto 0 auto 0;
        display: inline;
        grid-column: 2/3;
        grid-row: 2;
    }
    
}

#navBg {
    grid-column: 1/5;
    grid-row: 1;
    background: $color3;

    @include largeScreen() {
        grid-row: 1/3;
    }
}