@import 'config';
@import 'grid';
@import 'navBar';
@import 'helpers';
@import 'forms';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin: 1rem 0 0.5rem 0;
}

a {
    text-decoration: none;
    color: $color1;
}

body {
    background: $color4;
    color: $color2;
}

.btn {
    background: $color1;
    border-radius: 7px;
    border: 0;
    padding: 0.4rem;
    margin: 0.5rem 0 0 0;
    @include largeScreen(){
        align-self: flex-start;
    }
}

.flashSuccess{
    background: green;
    border: 7px;
    border-radius: 4px;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    opacity: 0.9;
}

.bookItem{
    margin: 0 0 0 2rem;
}

