#mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

#userBar {
  grid-column: 4;
  grid-row: 2; }

#mainNav {
  grid-column: 1;
  grid-row: 2; }

#mainContent {
  grid-column: 2/4;
  grid-row: 2; }

#navBg {
  grid-column: 1/5;
  grid-row: 1;
  background: #898573; }

#userIcon {
  margin: auto 0 auto 0;
  font-size: 3rem;
  color: #6E6C63;
  grid-column: 4;
  grid-row: 1; }

#menuIcon {
  margin: auto 0 auto 0;
  font-size: 3rem;
  color: #6E6C63;
  grid-column: 1;
  grid-row: 1; }

#searchBar {
  grid-column: 2/4;
  grid-row: 1;
  margin: auto auto auto auto;
  font-size: 1rem;
  width: 100%; }

#searchBar > input {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 0; }

#searchField {
  width: 75%; }

#searchBtn {
  width: 20%; }

.hNav > li {
  display: inline; }

.vNav > li {
  display: list-item;
  list-style-type: none; }

.right {
  text-align: right; }

.left {
  text-align: start; }

.center {
  text-align: center; }

.hidden {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

a {
  text-decoration: none;
  color: #DDD0A4; }

body {
  background: #6E6C63;
  color: #BDB38F; }

.btn {
  background: #DDD0A4; }
