#mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr; }
  @media (min-width: 768px) {
    #mainGrid {
      grid-template-rows: 30px 50px 1fr; } }

#mainContent {
  grid-column: 1/5;
  grid-row: 2; }
  @media (min-width: 768px) {
    #mainContent {
      grid-row: 3;
      grid-column: 2/4; } }

#userIcon {
  margin: auto 0 auto 0;
  font-size: 3rem;
  color: #6E6C63;
  grid-column: 4;
  grid-row: 1; }
  @media (min-width: 768px) {
    #userIcon {
      display: none; } }

#menuIcon {
  margin: auto 0 auto 0;
  font-size: 3rem;
  color: #6E6C63;
  grid-column: 1;
  grid-row: 1; }
  @media (min-width: 768px) {
    #menuIcon {
      display: none; } }

#searchBar {
  grid-column: 2/4;
  grid-row: 1;
  margin: auto auto auto auto;
  font-size: 1rem;
  width: 100%; }
  @media (min-width: 768px) {
    #searchBar {
      width: 80%;
      grid-row: 2;
      grid-column: 3;
      text-align: start; } }

#searchBar > input {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 0; }

#searchField {
  width: 75%; }

#searchBtn {
  width: 20%; }

#userBar {
  grid-column: 1/5;
  grid-row: 2;
  height: 100px;
  background: #898573;
  z-index: 3; }

#mainNav {
  grid-column: 1/5;
  grid-row: 2;
  height: 100px;
  background: #898573;
  z-index: 3; }

#userBarLg {
  display: none; }
  @media (min-width: 768px) {
    #userBarLg {
      margin: auto 8% auto 0;
      display: inline;
      grid-column: 3;
      grid-row: 1; } }

#mainNavLG {
  display: none; }
  @media (min-width: 768px) {
    #mainNavLG {
      margin: auto 0 auto 0;
      display: inline;
      grid-column: 2/3;
      grid-row: 2; } }

#navBg {
  grid-column: 1/5;
  grid-row: 1;
  background: #898573; }
  @media (min-width: 768px) {
    #navBg {
      grid-row: 1/3; } }

.hNav > li {
  display: inline;
  margin: 0 1.5rem 0 0; }

.vNav > li {
  display: list-item;
  list-style-type: none; }

.right {
  text-align: right; }

.left {
  text-align: start; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.formWrapper {
  margin: 0.5rem auto 0.5rem auto; }
  @media (min-width: 768px) {
    .formWrapper {
      text-align: start;
      margin: 0.5rem 0 0 35%; } }

.formWrapper > input {
  border: 0;
  padding: 0.4rem;
  border-radius: 7px;
  width: 75vw; }
  @media (min-width: 768px) {
    .formWrapper > input {
      width: 15vw; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

a {
  text-decoration: none;
  color: #DDD0A4; }

body {
  background: #6E6C63;
  color: #BDB38F; }

.btn {
  background: #DDD0A4;
  border-radius: 7px;
  border: 0;
  padding: 0.4rem;
  margin: 0.5rem 0 0 0; }
  @media (min-width: 768px) {
    .btn {
      align-self: flex-start; } }

.flashSuccess {
  color: green; }
