#mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

#userBar {
  grid-column: 2/4;
  grid-row: 1; }

#mainNav {
  grid-column: 2/4;
  grid-row: 2; }

#mainContent {
  grid-column: 2/4;
  grid-row: 3; }

.hNav > li {
  display: inline; }

.right {
  text-align: right; }

.center {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #DDD0A4; }

body {
  background: #6E6C63;
  color: #BDB38F; }
